#recettes{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#recettes img{
    width: 100%;
}
#recettes .titre{
    border: solid #F26079 3px;
    flex: 1;
    margin: 50px 0 -3rem -2rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 250px;
}
#recettes h1{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}
#recettes #presentation a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #F26079;
    margin: 2.5rem auto;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    background: #F26079;
    border: none;
}
#recettes #presentation{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#recettes .image{
    background: url("../img/photos/smooth-min.jpg");
    background-size: cover;
    background-position: center center;
    height: 250px;
    flex: 1;
}
#recettes .imageSmoothie{
    background: url("../img/photos/jus-ananas-orange.jpg");
    background-size: cover;
    background-position: center center;
    height: 250px;
    flex: 1;
}
#recettes .para{
    flex-basis: 100%;
    margin-top: 6rem;
}
#recettes #presentation p{
    color: gray;
    padding: 0 5rem;
    margin: 0;
    line-height: 1.5rem;
}
#recettes #articles article{
    text-align: center;
}
#recettes h2{
    font-size: 1.5rem;
    font-weight: bold;
    border: solid #F26079;
    padding: 1rem 3rem 0;
    margin: -1rem 2.5rem 2rem;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
}
#recettes #articles div{
    width: 100%;
    height: 16rem;
    background-size: cover;
}
#recettes #articles img{
    height: 100%;
}
#recettes #articles span{
    flex-basis: 100%;
}