*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out 0s;
}
body{
background: white;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
}
main{
    width: 95%;
}
.btn{
    padding:10px;
    border-radius:20px;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 25px;
}
header{
    background: linear-gradient(
        rgba(242, 96, 121, 0.9), 
        rgba(242, 96, 121, 0.9)
      ),url('../img/photos/food-fruit-grapes-197907.jpg') no-repeat left fixed;
    background-size: cover;
    color:white;
    padding: 5px 5px 35px 5px;
    text-align: center;
   
}
header a img{
    width: 20rem;
}


.pitch{
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    margin: 25px 0 3px 0;
    
}
.discover{
    border-color: white;
    background-color: rgba(255, 192, 203, 0.3);
    color : white;
    font-size: 12px;
}
.discover:hover{
   color:black;
   border-color: black;
}
nav{
    margin-top: 30px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
 li{
    margin: 0 auto;
    line-height: 45px;
}
nav a {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav a:hover{
    text-decoration:none;
    color:white;
}
nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 22px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
    transform: scaleX(0);
}
nav a:hover:before {

    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    font-weight: bold;
}
.titre{
    border: 2px solid #62c97d;
    margin: -15px 20px 4px 25px;
    padding: 0 0 10px 20px;
    width: 80%;

}
.titre h1{
    font-weight: 800;
    margin: 0;
    padding-top:1.5rem;
}
.titre small{
    font-family: "Nixie One", cursive;
    text-align: center;

}
.container{
    margin: 0 auto;
}
.right{
    text-align: right;
}
.d{
    text-align: center;
    border-bottom: 4px solid #62c97d;
    width: 45%;
    padding-bottom: 18px;
    margin: 0 auto;

}
article{
    margin: 45px 0;
}
article img{
    width: 100%;
}
article h3{
    position: absolute;
    border: 2px solid #F26079;
    padding: 15px;
    color: black;
}
article:nth-child(even) h3{
    margin: -15px 0 7px 24rem;

}
article:nth-child(odd) h3{
    margin: -15px 0 4px 1rem;
}
.localisation{
    text-align:center; 
}
.recipe{
    text-align:center; 
    border-color:#F26079;
    color:#F26079;
    font-size: 14px;
}
.recipe:hover{
    background:#F26079;
    color:white;
}
h2{
font-weight: 800;
}
#diy {
    text-align: center;
}
section{
    margin-bottom:55px;
}
footer{
    padding: 25px;
    background: #F26079;
    text-align: center;
    color:white;
}
footer p {
    font-weight: 800;
}
footer span{
    font-size: 24px;
}
footer img{
    width: 50px;
}

@media screen and (min-width: 720px) {
    .logo{
        width:25%;
        height: 25%;
    }
    #produits article h3{
        margin : 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    #produit article {
        margin: 0 auto;
    }
}
@media screen and (max-width: 640px)
{
    #layout header .navDesktop
    {
        display: none;
    }
    #layout header section
    {
        display: block;
    }
    #layout header section p
    {
        display: block;
    }
}
