*{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out 0s;
}
/* .logo{
width: 200px;
height: 200px;
margin : 0 0 0 100px; 
} */

body{
background: white;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;

}
.btn{
    padding:10px;
    border-radius:20px;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 25px;
}
header{
    background: linear-gradient(
        rgba(242, 96, 121, 0.9), 
        rgba(242, 96, 121, 0.9)
      ),url('../img/photos/food-fruit-grapes-197907.jpg') no-repeat left fixed;
    background-size: cover;
    color:white;
    padding: 5px 5px 15px 5px;
    text-align: center;

}
.pitch{
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    margin: 50px 0 30px 0;
    
}
.discover{
    border-color: white;
    background-color: rgba(255, 192, 203, 0.3);
    color : white;
    font-size: 12px;

}
.discover:hover{
   color:black;
   border-color: black;
}
nav{
    margin-top: 30px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
 li{
    margin: 0 auto;
    line-height: 45px;
}
nav a {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;

}
nav a:hover{
    text-decoration:none;
    color:white;
}
nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 22px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
    transform: scaleX(0);


}
nav a:hover:before {

    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    font-weight: bold;
}
.titre{
    border: 2px solid #62c97d;
    margin: -30px 20px 4px 2px;
    padding: 10px;
    text-align: center;
}
.titre h1{
    font-weight: 800;
    margin: 0;
    padding-top:1.5rem;
}
.titre small{
    font-family: "Nixie One", cursive;

}

.container{
    margin: 0 auto;
}
.right{
    text-align: right;
}
#produits{
    margin-bottom: 35px;
}
article{
    margin-bottom: 55px;
}
article img{
    width: 100%;
}
article h3{
    position: absolute;
    border: 2px solid #F26079;
    padding: 15px;
    color: black;
}
article:nth-child(even) h3{
    margin: -15px 20px 4px 100px;
}
article:nth-child(odd) h3{
    margin: -15px 20px 4px 10px;
}

.localisation{
    text-align:center; 
}
.recipe{
    border-color:#F26079;
    color:#F26079;
    font-size: 14px;
}
.recipe:hover{
    background:#F26079;
    color:white;
}
footer{
    padding: 25px;
    background: #F26079;
    text-align: center;
    color:white;
}
footer p {
    font-weight: 800;
}
footer span{
    font-size: 24px;
}
footer img{
    width: 50px;
}
