/* INDEX.PHP */
        /*-- header --*/
.btn{
    padding:10px;
    border-radius:20px;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 25px;
}
#accueil header{
    background: linear-gradient(
        rgba(242, 96, 121, 0.9), 
        rgba(242, 96, 121, 0.9)
      ),url('../img/photos/food-fruit-grapes-197907.jpg') no-repeat left fixed;
    background-size: cover;
    color:white;
    padding: 5px 5px 35px 5px;
    text-align: center;
   
}
#accueil .logo
{
    width: 250px;
    height: 250px;
    margin: 0
}
#accueil header .hideMenu
{
    display: none;
    cursor: pointer;
}
#accueil header .navMobile
{
    background:rgba(242, 98, 121, 0.8);
    position: absolute;
    left: 7.5%;
    top: 42.05%;
    width: 85%;
    display: flex;
    justify-content: center;
    display: none;
    line-height: 6rem;
    color: white;
}

#accueil .pitch{
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    margin: 25px 0 3px 0;
    
}
#accueil .discover{
    border-color: white;
    background-color: rgba(255, 192, 203, 0.3);
    color : white;
    font-size: 12px;
}
#accueil .discover:hover{
   color:black;
   border-color: black;
}
#accueil nav{
    margin-top: 30px;
}
#accueil ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
#accueil li{
    margin: 0 auto;
    line-height: 45px;
}
#accueil nav a {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#accueil nav a:hover{
    text-decoration:none;
    color:white;
    animation: bounce 0.7s ease infinite;
}
#accueil nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 22px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
    transform: scaleX(0);
}
#accueil nav a:hover::before {

    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    font-weight: bold; 
}
        /*-- main --*/
        #accueil .titre{
    border: 2px solid #62c97d;
    margin: -30px 20px 4px 25px;
    padding: 25px 0 10px 20px;
    width: 80%;

}
#accueil .titre h1{
    font-weight: 800;
    margin: 0;
    padding-top:1.5rem;
}
#accueil .titre small{
    font-family: "Nixie One", cursive;
    text-align: center;

}

#accueil.container{
    margin: 0 auto;
}
#accueil .right{
    text-align: right;
}
#accueil .d{
    text-align: center;
    border-bottom: 4px solid #62c97d;
    width: 45%;
    padding-bottom: 18px;
    margin: 0 auto;

}
#accueil article{
    margin: 45px 0;
}
#accueil article img{
    width: 100%;
}
#accueil article h3{
    position: absolute;
    border: 2px solid #F26079;
    padding: 15px;
    color: black;
}
#accueil article:nth-child(even) h3{
    margin: -16px 0 17px 19rem;

}
#accueil article:nth-child(odd) h3{
    margin: -15px 0 4px 1rem;
}
#accueil .recipe{
    text-align:center; 
    border-color:#F26079;
    color:#F26079;
    font-size: 14px;
}
#accueil .recipe:hover{
    background:#F26079;
    color:white;
}
#accueil #produits article div{
    width: 100%;
    height: 33rem;
    background-size: cover;
    position: relative;
}
#accueil #produits h2 {
    text-align: center;
    font-size:4rem;
}
#produits #articles article a h2 span{
    text-align: center;
    color:black;
}

#produits #articles article a:hover h2 span{
    text-align: center;
    color:#F26079;
    text-decoration: none
}
#produits #articles article a:hover{
    text-decoration: none
}
#accueil #produits #articles h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    border: solid #F26079;
    padding: 1rem 2rem 0;
    margin: -1rem 0 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    height: 82px;
    width: 80%;
}
#accueil #produits div article div{
    margin: -17px 0px 0 20px;
    width: 44%;
    height: 23%;
    padding: 19px 20px 0px 0px;
    border-color: #F26079;
}
#accueil hr{
    width: 10%;
    size: 2;
    border:2px solid #62c97d;
}
#accueil h2{
font-weight: 800;
}
#accueil #diy {
    text-align: center;
}
#accueil section{
    margin-bottom:55px;
}
        /* footer */

footer{
    padding: 25px;
    background: #F26079;
    text-align: center;
    color:white;
}
footer p {
    font-weight: 800;
}
footer span{
    font-size: 24px;
}
footer img{
    width: 50px;
}


/* FIN DE INDEX.PHP */

/* RECETTES.PHP */
#recettes{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#recettes #articles article a h2 span{
    text-align: center;
    color:black;
}

#recettes #articles article a:hover h2 span{
    text-align: center;
    color:#F26079;
    text-decoration: none
}
#recettes #articles article a:hover{
    text-decoration: none
}
#recettes #produits #articles h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    border: solid #F26079;
    padding: 1rem 2rem 0;
    margin: -1rem 0 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    height: 82px;
    width: 80%;
}
#recettes img{
    width: 100%;
}
#recettes .titre{
    border: solid #F26079 3px;
    flex: 1;
    margin: 50px 0 -3rem -2rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 250px;
}
#recettes h1{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}
#recettes #presentation a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #F26079;
    margin: 2.5rem auto;
    padding: 1rem;
    border-radius: 2rem;
    background: #F26079;
    border: none;
}
#recettes #presentation{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#recettes .image{
    background: url("../img/photos/smooth-min.jpg");
    background-size: cover;
    background-position: center center;
    height: 250px;
    flex: 1;
}
#recettes .imageSmoothie{
    background: url("../img/photos/jus-ananas-orange.jpg");
    background-size: cover;
    background-position: center center;
    height: 250px;
    flex: 1;
}
#recettes .para{
    flex-basis: 100%;
    margin-top: 6rem;
}
#recettes #presentation p{
    color: gray;
    padding: 0 5rem;
    margin: 0;
    line-height: 1.5rem;
}
#recettes #articles article{
    text-align: center;
}
#recettes article h2{
    font-size: 1.5rem;
    font-weight: bold;
    border: solid #F26079;
    padding: 1rem 3rem 0;
    margin: -1rem 2.5rem 2rem;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
}
#recettes #articles div{
    width: 100%;
    height: 23rem;
    background-size: cover;
    position: relative;
}

#recettes #articles .fav{
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
#recettes #articles span{
    flex-basis: 100%;
}
/* FIN DE RECETTES.PHP */
/*ANTHONY*/

*
{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out 0s;
}
html
{
	font-size: 62.5%;
}
body
{
    font-size: 1.6rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    background: #F2EDE6;
}
.hidePic{
    width: 50%;
    max-width: 400px;
 }
 #presentation .Grostitre{
    border: solid #F26079 3px;
    flex: 1;
    margin: 50px 0 -3rem -2rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 250px;
    width: 85%;
}
 #presentation h1{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    font-size: 5rem;
}
#presentation{
    display: flex;
    flex-wrap: wrap;
}
.localisation{
    text-align:center; 
}
 
#presentation .image{
    background: url("../img/photos/smooth.jpg");
    background-size: cover;
    background-position: center center;
    height: 250px;
    flex: 1;
}
#presentation .para{
    flex-basis: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
#presentation #presentation p{
    color: gray;
    padding: 0 5rem;
    margin: 0;
    line-height: 1.5rem;
}

/* HEADER */
#layout nav a {
    color:black;
}
#layout nav a:hover {
    color:#F26079;
}

#layout header
{
    font-size: 2.3rem;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#layout header div.bonjour
{
    width: 25%;
    font-size: 1.7rem;
}
#layout header div.bonjour a{
    width: 100%;
    margin: 0 auto;
    border-color: #F26079;
    color: #F26079;
}
#layout header div.bonjour a:hover{
    width: 100%;
    margin: 0 auto;
    border-color: #F26079;
    background-color:#F26079;
    color: #F2EDE6
}
#layout header section
{
    display: none;
    cursor: pointer;
}
#layout header a img
{
    width: 20rem;
}
#layout header .navMobile
{   
    background:rgba(242, 98, 121, 0.8);
    position: absolute;
    left: 7.5%;
    top: 19%;
    width: 85%;
    display: flex;
    justify-content: center;
    display: none;
    line-height: 6rem;
    color: white;
    z-index:1;
}

/* RECIPE */
#recipe img
{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#recipe h1
{
    border: 2px solid #62c97d;
    text-align: center;
    font-weight: 800;
    width: 60%;
    padding: 5rem 0 1rem;
    margin-top: -4rem;
    position: absolute;
    left: 21%;
    font-size: 3.5rem;
}
#recipe section
{
    margin: 14rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#recipe section a
{
    flex-basis: 100%;
    margin-bottom: 4rem;
}
#recipe .ingredient
{
    width: 30%;
    margin-bottom: 3rem;
}
#recipe .ingredient span
{
    background: #F2EDE6;
    padding: 0 1rem;
    margin-left: 1rem;
    color: green;
    text-transform: uppercase;
}
#recipe .ingredient div
{
    padding: 2rem 2rem 1rem;
    margin-top: -1.5rem;
    border: solid 2px green;
    font-size: 2.5rem;
}
#recipe .recipe
{
    width: 60%;
    line-height: 3rem;
}
#recipe .ingredient ul
{   
    list-style: none;
}
#recipe .ingredient li:before, #recipe .recipe li:before
{
    content: "- ";
}
#recipe .recipe ul
{
    list-style: decimal;
}

/* CONNEXION */
#connexion
{
    text-align: center;
}
#connexion .entete
{
    width: 100%;
    padding: 16rem 0;
    background: url("../img/photos/detox cure smoothie.jpg");
    background-position: center;
    background-size: cover;
}
#connexion h1
{
    border: 2px solid rgba(242, 98, 121, 0.8);
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 10% 3% 3%;
    position: relative;
    z-index: 1;
    margin-top: -7%;
    font-size: 4rem;
    font-weight: bolder;
}
#connexion p
{
    margin: 3rem 0;
}
#connexion form
{
    box-shadow: 0px 0px 0px 0px grey;
    margin: 7rem 0 3rem;
    background: #FCFCFC;
}
#connexion form input[type="text"], #connexion form input[type="password"]
{
    border: solid 1px rgb(242, 98, 121);
    border-radius: 15rem;
    height: 4rem;
    width: 70%;
    padding-left: 2rem;
}
#connexion form input[type="text"]::placeholder, #connexion form input[type="password"]::placeholder
{
    color: rgb(242, 98, 121);
}

/* BUTTON */
#connexion a, #connexion form input[type="submit"]
{
    padding: 1rem;
    border-radius: 2rem;
    background: #F26079;
    border: none;
    color: white;
    text-decoration: none;

}

/* FOOTER */
#layout footer
{
    padding: 25px;
    background: #F26079;
    text-align: center;
    color:white;
}
#layout footer p
{
    font-weight: 800;
}
#layout footer p:nth-child(2)
{
    font-size: 2.4rem;
}
#layout footer img
{
    width: 50px;
}
#findUs .text {
    text-align: center;
}
#findUs .titre{
    border: 2px solid #62c97d;
    margin: -30px 20px 4px 25px;
    padding: 10px 0 10px 20px;
    width: 100%;
}
#findUs .titre small{
    font-size: 16px;
}

#findUs .titre h2{
    font-size: 3rem;
}
#findUs{
    padding: 15px;
}
#findUs .horaire {
    border: 2px solid #62c97d;
    margin: 15px auto;
    padding: 10px 0 10px 0px;
    width: 35%;
}
.navMobile li{
    list-style:none;
}
.navMobile ul{
    padding:0;
}
.navMobile li:hover{
    background-color: rgba(178, 62, 79,0.5)
}

h2{
    font-weight: 800;
}
.frame{
    display:none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px)
{
    #findUs .titre {
        width: 87%;
    }
    #findUs .text {
        text-align: left;
    }
    .frame{
        display: flex;
        flex-wrap: nowrap;
    }
    #produit article {
        margin: 0 auto;
    }
    #produits article h3:nth-child(odd),
    #produits  article h3:nth-child(even){
        margin : -15px 0 4px 1rem;

    }
}

@media screen and (max-width: 768px)
{
     header .navDesktop
    {
        display: none!important;
    }
     header .hideMenu
    {
        display: block!important;
    }
    .hidePic{
        display: none;
     }
     header section p
    {
        display: block;
    }

    #layout header .navDesktop
    {
        display: none;
    }
    #layout header section
    {
        display: block;
    }
    #findUs .coord{
        margin: 0 auto;
    }
    #presentation .para{
        font-size:14px;
    }
}
@media screen and (min-width:1024px){
    
    #recipe img{
        width: 40%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}