*
{
    box-sizing: border-box;
    transition: all 0.3s ease-in-out 0s;
}
html
{
	font-size: 62.5%;
}
body
{
    font-size: 1.6rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
}
#presentation img{
    width: 100%;
 }
 #presentation .titre{
    border: solid #F26079 3px;
    flex: 1;
    margin: 50px 0 -3rem -2rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 250px;
 }
 #presentation h1{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}
#presentation{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
 }
 
 #presentation .image{
    background: url("img/photos/smooth.jpg");
    background-size: cover;
    background-position: center center;
    height: 250px;
    flex: 1;
}
#presentation .para{
    flex-basis: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
#presentation #presentation p{
    color: gray;
    padding: 0 5rem;
    margin: 0;
    line-height: 1.5rem;
}

/* HEADER */
#layout header
{
    font-size: 2.3rem;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#layout header section
{
    display: none;
    cursor: pointer;
}
#layout header a img
{
    width: 20rem;
}
#layout header .navMobile
{
    background:rgba(242, 98, 121, 0.8);
    position: absolute;
    left: 7.5%;
    top: 19.7%;
    width: 85%;
    display: flex;
    justify-content: center;
    display: none;
    line-height: 6rem;
    color: white;
}

/* RECIPE */
#recipe img
{
    width: 100%;
    height: auto;
}
#recipe h1
{
    border: 2px solid #62c97d;
    text-align: center;
    font-weight: 800;
    width: 60%;
    padding: 5rem 0 1rem;
    margin-top: -4rem;
    position: absolute;
    left: 21%;
    font-size: 3.5rem;
}
#recipe section
{
    margin: 14rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#recipe section a
{
    flex-basis: 100%;
    margin-bottom: 4rem;
}
#recipe .ingredient
{
    width: 30%;
    margin-bottom: 3rem;
}
#recipe .ingredient span
{
    background: white;
    padding: 0 1rem;
    margin-left: 1rem;
    color: green;
    text-transform: uppercase;
}
#recipe .ingredient div
{
    padding: 2rem 2rem 1rem;
    margin-top: -1.5rem;
    border: solid 2px green;
    font-size: 2.5rem;
}
#recipe .recipe
{
    width: 60%;
    line-height: 3rem;
}
#recipe .ingredient ul
{   
    list-style: none;
}
#recipe .ingredient li:before, #recipe .recipe li:before
{
    content: "- ";
}
#recipe .recipe ul
{
    list-style: decimal;
}

/* CONNEXION */
#connexion
{
    text-align: center;
}
#connexion .entete
{
    width: 100%;
    padding: 16rem 0;
    background: url("img/photos/detox cure smoothie.jpg");
    background-position: center;
    background-size: cover;
}
#connexion h1
{
    border: 2px solid rgba(242, 98, 121, 0.8);
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 10% 3% 3%;
    position: relative;
    z-index: 1;
    margin-top: -7%;
    font-size: 4rem;
    font-weight: bolder;
}
#connexion p
{
    margin: 3rem 0;
}
#connexion form
{
    box-shadow: 0px 0px 0px 0px grey;
    margin: 7rem 0 3rem;
    background: #FCFCFC;
}
#connexion form input[type="password"], #connexion form input[type="text"]
{
    border: solid 1px rgb(242, 98, 121);
    border-radius: 15rem;
    height: 4rem;
    width: 70%;
}
#connexion form input[type="password"]::placeholder, #connexion form input[type="text"]::placeholder
{
    color: rgb(242, 98, 121);
}

/* BUTTON */
#connexion a, #connexion form input[type="submit"]
{
    padding: 1rem;
    border-radius: 2rem;
    background: #F26079;
    border: none;
    color: white;
    text-decoration: none;
}

/* FOOTER */
#layout footer
{
    padding: 25px;
    background: #F26079;
    text-align: center;
    color:white;
}
#layout footer p
{
    font-weight: 800;
}
#layout footer p:nth-child(2)
{
    font-size: 2.4rem;
}
#layout footer img
{
    width: 50px;
}
.titre{
    border: 2px solid #62c97d;
    margin: -30px 20px 4px 25px;
    padding: 0 0 10px 20px;
    width: 80%;

}
.titre h1{
    font-weight: 800;
    margin: 0;
    padding-top:1.5rem;
}
.titre small{
    font-family: "Nixie One", cursive;
    text-align: center;

}
h2{
    font-weight: 800;
    }

/* MEDIA QUERIES */
@media screen and (max-width: 700px)
{
    #layout header .navDesktop
    {
        display: none;
    }
    #layout header section
    {
        display: block;
    }
}

